.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $l-size;
    /* mobile screen: control is on the row */
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin: 0 $s-size $s-size 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}